{% extends 'master.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
{% endblock %}
{% block content %}
<table id="mytable" class="cell-border display compact hover stripe" style="width:100%">
     <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Query</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
</table>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        let table=$('#mytable')
        .on( 'page.dt', function (e) {
        var info = table.page.info();
        } )
        .DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url':'/get_user_query/',
                 data:{
                        length:$('#length').val(),
                        page:$('#page').val(),
                    },
            },
            'columns': [
                { data: 'Name' },
                { data: 'Mobile' },
                { data: 'Query' },
                { data: 'id' }
            ],
            columnDefs: [
                {
                    target: 3,
                    visible: false,
                    searchable: false,
                },
            ],
             lengthMenu: [
            [5,10, 25, 50, -1],
            [5,10, 25, 50, 'All'],
        ],
        });


    });
</script>
{% endblock %}