<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div id="details" data-panel="business-details-panel" class="IJMoHc b0t70b" jslog="59796; track:impression">
    <hr class="WUdCTb"><h2 class="Igsabe">Contact Us</h2>
    <div class="IQ1KEb" jslog="56034; track:impression,click">
        <a href="https://www.google.com/maps/place/Mano+Driving+School/@8.6988717,77.7358056,17z/data=!3m1!4b1!4m6!3m5!1s0x3b0412739403ac1f:0x3a873a96e166ec72!8m2!3d8.6988664!4d77.7383805!16s%2Fg%2F124ypykd6?entry=ttu" target="_blank" itemprop="hasMap" data-tracking-element-type="7">
            <div class="QMbmRe" style="background-image:url('https://maps.googleapis.com/maps/api/staticmap?scale=1&amp;size=1600x900&amp;style=feature:poi.business|visibility:off&amp;style=feature:water|visibility:simplified&amp;style=feature:road|element:labels.icon|visibility:off&amp;style=feature:road.highway|element:labels|saturation:-90|lightness:25&amp;format=jpg&amp;language=en&amp;region=IN&amp;markers=color:0x48487f|8.6982841,77.7267276&amp;zoom=16&amp;client=google-presto&amp;signature=mY4M8rb7yfIU-ZyyrCTwOW_hsJc')" title="Map showing business location."></div></a></div>
    <div class="fGZQDc"><div class="kCmrbf"><h3 class="Gou21b">Contact</h3>
        <div data-field="phone"><a class="PDvGL q8cvFf" href="tel:+91-9842124001" data-tracking-element-type="3" jslog="56037; track:impression,click" itemprop="telephone" dir="ltr">Call now</a><ul class="R7Di0e"><li dir="ltr">09842124001</li><li dir="ltr">09486624001</li></ul></div></div><div class="kCmrbf"><h3 class="Gou21b">Address</h3><div data-field="address">
        <a class="PDvGL q8cvFf" href="https://www.google.com/maps/dir//Mano+Driving+School,+Perumalpuram,+Vasantha+Nager,+Tirunelveli,+Tamil+Nadu/@8.698949,77.6971804,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3b0412739403ac1f:0x3a873a96e166ec72!2m2!1d77.7383767!2d8.6988957?entry=ttu" target="_blank" data-tracking-element-type="6" jslog="56039; track:impression,click">Get directions</a>
        <address class="qhkvMe " itemprop="address"><div>3,Apollo Colony Extension, Pothigai Nagar,</div><div>Perumalpuram</div><div>Tirunelveli, Tamil Nadu 627007</div><div>India</div></address>
    </div></div><div class="kCmrbf"><h3 class="Gou21b">Business Hours</h3><div><table itemprop="openingHours"><tbody><tr><th class="x2TOCf">Mon:</th><td class="o0m3Qb"><span class="WF8WNe">9:00 AM – 9:00 PM</span></td></tr><tr><th class="x2TOCf">Tue:</th><td class="o0m3Qb"><span class="WF8WNe">9:00 AM – 9:00 PM</span></td></tr><tr><th class="x2TOCf">Wed:</th><td class="o0m3Qb"><span class="WF8WNe">9:00 AM – 9:00 PM</span></td></tr><tr><th class="x2TOCf">Thu:</th><td class="o0m3Qb"><span class="WF8WNe">9:00 AM – 9:00 PM</span></td></tr><tr><th class="x2TOCf">Fri:</th><td class="o0m3Qb"><span class="WF8WNe">9:00 AM – 9:00 PM</span></td></tr><tr><th class="x2TOCf">Sat:</th><td class="o0m3Qb"><span class="WF8WNe">9:00 AM – 9:00 PM</span></td></tr><tr><th class="x2TOCf">Sun:</th><td class="o0m3Qb"><span class="WF8WNe">Closed</span></td></tr></tbody></table></div></div></div></div>


<form id="queryform">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder=" Your Name">
        </div>
        <div class="form-group col-md-6">
            <label for="Mobile">Mobile:</label>
            <input type="text" class="form-control" id="Mobile" name="Mobile"
                placeholder="Your Mobile">
        </div>
    </div>
    <div class="form-group">
        <label for="Query">Query:</label>
        <textarea class="form-control" id="Query" name="Query" rows="3"></textarea>
    </div>
    <a type="submit" id="loginlink" onclick="submit()" class="btn btn-success">Submit</a>
</form>
<script src="{% static '/assets_libs_jquery_dist/jquery.min.js' %}"></script>
        <script>
            function submit(){
                if($('#name').val().length!=0 && $('#Mobile').val().length!=0 && $('#Query').val().length!=0)
                {
                $.ajax({
                    type:'POST',
                    url:'/post_query/',
                    data:{
                        name:$('#name').val(),
                        Mobile:$('#Mobile').val(),
                        Query:$('#Query').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(data){
                        console.log(data.msg);
                        alert(data.msg);
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR);
                    }
                });
                }
                else{
                    if($('#name').val().length==0)
                    {
                        alert("Provide Name");
                        focus('#name');
                    }
                    else if($('#Mobile').val().length==0)
                    {
                        alert("Provide Mobile");
                        focus('#Mobile');
                    }
                    else if($('#Query').val().length==0)
                    {
                        alert("Provide Query");
                        focus('#Query');
                    }
                }
            }
        </script>
</body>
</html>